*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.banner {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(header.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 50px;
}

.link{
    flex: 1;
    text-align: right;
}
.link ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.link ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.link ul li::after{
    content:'';
    width: 100%;
    height: 2px;
    background: #254117;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.link ul li:hover::after{
    width: 100%;
}

.ruangan{
    width: 80%;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid #708238;
    background : rgba(112, 130, 56, 0.9)
}
.ruangan h1 {
    font-size: 60px;
}
.ruangan p {
    margin: 10px 0 40px;
    color: white;
    font-size: 30px;
}
i.fa{
    display: none;
}

@media(max-width: 700px){
    .ruangan h1 {
        font-size: 20px;
    }
    .ruangan p {
        font-size: 15px;
    }
    .link ul li {
        display: block;
    }
    .link{
        position: absolute;
        background: #043927 ;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;

    }
    i.fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .link ul{
        padding: 30px;
    }
}

/*--------------------The Coder---------*/
.selection {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.selection h1{
    font-size: 36px;
    font-weight: 600;
}
.selection p{
    font-size: 17px;
    color: gray;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.course-col img{
    width: 90%;
    padding-top: 30px;
}

.selection h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
}

.course-col :hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
 }

 .course-col2{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 60px;
    margin-bottom: 5%;
    padding: 80px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.course-col2 :hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
 }

.warning{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
}
.warning h1{
    color: #333;
    margin-bottom: 2px;
    font-size: 35px;
    font-weight: 700;
}

/*------------------------------------Folktale----------------*/
.sub-banner{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(headerfolktale.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

@media(max-width : 700px){
    .dongeng h1{
        font-size: 20px;
    }
    .dongeng p{
        font-size: 20px;
    }
    .dongeng-col ul {
        font-size: 10px;
    }
}

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(226,0,0,0.7)
}

.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.dongeng {
    text-align: center;
    padding-top: 50px;
    width: auto;
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    
}

.dongeng h1{
    font-size: 40px;
    font-weight: 500;
}

.dongeng em{
    font-weight: 600;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

/*--------------------putri gunung ledang---------*/
.header2{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(headerfolktale.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.ledang-1{
    text-align: center;
    align-items: center;
    padding-top: 5px;
    margin-left: 2%;
    margin-right: 2%;
}
.ledang1-col ul li{
    list-style: none;
}
.ledang1-col ul{
    background: rgba(245,189,2,0.7);
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 10px;
    box-sizing: border-box;
   
}
.ledang1-col em{
    font-weight: 700;
}
.ledang1-col blockquote{
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ledang1-col img{
    padding-top: 10px;
    padding-bottom: 10px;
}

.ledang-1-vid iframe{
    align-items: center;
    padding-top: 60px;
    margin-left:20% ;
    text-align: center;

}
.moral1 h1{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 6px;
}
.moral1 ul {
    background: #bbb;
}
.moral1{
    text-align: center;
}

/*-------------------------Dengkis dan tepok-------------*/
.jata{
    text-align: center;
    align-items: center;
    padding-top: 5px;
    margin-left: 2%;
    margin-right: 2%;
}
.jata-col img{
    padding-top: 10px;
}
.jata-col p {
    padding-top: 5px;
    margin-top: 8px;
}
.jata-col em{
    font-weight: 700;
}


/*----------------Mahsuri------------*/
.Mahsuri{
    text-align: center;
    align-items: center;
    padding-top: 5px;
    background: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(gambafolk/Langkawi.jpg);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.mahsuri1 img{
    align-items: center;
    text-align: center;
}

.mahsuri1 p{
    padding-top: 5px;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    background: #bbb;
}

/*--------------next and previous---------*/
.click{
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
}

.after{
    text-align: right;
   
}

.previous{
    text-align: left;
}

/*------------------------Keris---------*/
.Keris{
    text-align: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.Keris blockquote{
    background: rgba(245,189,2,0.7);
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 10px;
    box-sizing: border-box;
    font-size: 15px;

}
.Keris em{
    font-weight: 700;
}

.bekas{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding: 100px 50px;
}

.bekas .card{
    position: relative;
    width: 350px;
    height: 400px;
    background: #feffe3;
    border-radius: 20px;
    box-shadow: 0 35px 8px rgba(0,0,0,0.15);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bekas .card:hover{
    height: 720px;
	 width:780px;
}

.bekas .card .imgBx{
    position: absolute;
    width: 250px;
    height: 350px;
    background: #333;
    border-radius: 12px;
    transition: 0.9s;
}

.bekas .card:hover .imgBx{ 
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px, rgba(0,0,0,0.2);
}

.bekas .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.bekas .card .content1{
    position: absolute;
    width: 100%;
    padding: 0 30px;
    text-align: center;
    top: 350px;
    overflow: hidden;
    height: 30px;
    transition: 0.5s;
}
.bekas .card:hover .content1{
    height: 800px;
    top: 250px;
}

.card em{
    font-weight: 700;
}

/*---------------------slide images------------*/
*{box-sizing: border-box;}

.slideshow{
    max-width: 600px;
    position: relative;
    margin: auto;
    padding-top: 60px;
}

.mySlides{
    display: none;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

.active, .dot:hover {
    background-color: #717171;
  }

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
